<app-top-bar></app-top-bar>
<div class = "site_container box-column">
  <div class = "product_detail_box box-row" *ngIf = "product">
    <div class = "product_image_box">
      <img src = "{{product.image_url}}" class = "product_img">
    </div>
    <div class = "product_about">
      <div class = "product_title">
        <h2 id = "heading_title">{{product.name}}</h2>
      </div>
      <div class = "product_description">
        <p *ngIf="product.description" id = "description">{{product.description}}</p>
      </div>
    </div>
    <div class = "product_price_box box-column">
      <p><span class = "price_paragraph">Price:</span> <span class = "product_price">
              {{product.price | currency: '₸'}}</span>
      </p>
      <p><span class = "rating_paragraph">Rating:</span> <span class = "rating">
              {{product.rating}}
            </span>
      </p>
      <div class = "sharing_box box-row">
        <button class = "sharing order_button" style = "margin-right: 30px">Order</button>
        <button class = "sharing share_button">Share</button>
      </div>
    </div>
  </div>

  <div class = "commentary">
    <div class = "comment_box" *ngFor = "let comment of comments">
      <div *ngIf="comment"> <p>{{comment.product}}</p></div>
    </div>
  </div>
</div>
