#category_select_box{
  position: absolute;
  width: 201px;
  justify-content: start;
  align-items: center;
  border: 0.1rem solid lightgoldenrodyellow;
  background-color: #555273;
  border-radius: 5px;
  box-shadow: 0 1px 7px 0 darkgray;
  margin-left: 10px;
  margin-top: 40px;
}
#category_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  margin-top: 20px;
  color: white;
  height: 30px;
}
.select{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  border-color: cornflowerblue;
  border-radius: 8px;
}
.option{
  color: #ccb07e;
  font-style: oblique;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
h3:hover{
  cursor: pointer;
}
