<div class = "container box-column">
  <div class = "image">
    <img src="../../assets/logoaero.png" alt = "logo">
  </div>
  <div class = "registration_box">
    <div class = "heading_REG_IN_box">
      <h2 class = "heading_REG_IN">Registration</h2>
    </div>
    <div class = "users_input_fields">
      <div class = "user_input">
        <input type = "text"
               placeholder = "Input Name"
               class = "user_input_text"
               [(ngModel)]="name">
      </div>
      <div class = "user_input">
        <input type = "text"
               placeholder = "Input Surname"
               class = "user_input_text"
               [(ngModel)]="surname">
      </div>
      <div class = "user_input">
        <input type = "text"
               placeholder = "Input Username"
               class = "user_input_text"
               [(ngModel)]="username">
      </div>
      <div class = "user_input">
        <input type = "text"
               placeholder = "Input Password"
               class = "user_input_text"
               [(ngModel)]="password">
      </div>
    </div>
    <div class = "user_aid_box box-row">
      <p class = "user_aid_field hv_acc"><a [routerLink] = "['/login']">Have an account?</a></p>
    </div>
    <div class = "sign_up_box">
      <button class = "sign_up">Sign Up</button>
    </div>
  </div>
</div>
